*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/flutter_module/.android/
/flutter_module/.dart_tool/
/flutter_module/.idea/
/flutter_module/.ios/
/flutter_module/.flutter-plugins
/flutter_module/.flutter-plugins-dependencies
/flutter_module/.packages
/app/compress-image.json
